/*
 * Netflix Random Episode Styling
 */

#randomButton {
    position:relative;
    padding-left:18px;
    background-repeat: no-repeat;
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/random.png');
    background-position: 8px 7px;
}

#randomBOB {
    left:-330px;
    text-shadow:none;
    background-color:#fff;
}

#randomBOB .randomLoading {
    width:64px;
    height:64px;
    background-repeat:no-repeat;
    background-position:0 0;
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/throbber.gif');
    background-color:transparent;
    margin:40px auto;
}

#randomBOB .nse {
    top:54px;
    left:251px;
    height:38px;
}

#randomBOB .heading {
    color: #ffffff;
}

#randomBOB p {
    font-weight:normal;
}

#randomBOB .progress-bar-wrapper {
    line-height:normal;
    margin:0 16px;
    padding-bottom:4px;
    text-align:center;
}

#randomBOB .progress-bar-wrapper label {
    display:inline-block;
    font-size:13px;
    color:#333;
    width:3em;
    text-align:center;
}

#randomBOB .ebob-content .heading .duration span {
    color:#ffffff;
}

#randomBOB .progress-bar-wrapper .progress-bar {
    display:inline-block;
    width:200px;
    height:8px;
    font-size:1px;
    overflow:hidden;
    background-color:#424242;
    position:relative;
}

#randomBOB .ebob-content .rule {
    margin:.26em 16px .75em 16px;
    display:block;
    height:0;
    overflow:hidden;
    border-top:1px solid #ccc;
}
